# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv

# Python packaging
build/
dist/
*.egg-info/
*.egg

# Development tools
.python-version

# IDEs and editors
.vscode/

# OS
.DS_Store

# Logs
*.log
